i.fa.fa-circle {
  font-size: 14px;
}

.mobile_menu .mobile_menu_close {
  color: #1b8381;
}

.team_details_section .team_profile {
  padding: 65px 30px;
}

.kakao-channel-button {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 3 !important;
  cursor: pointer;
}

.slider_content_wrap .rx_slider_text {
  max-width: 835px;
}

.rx-portfolio-innerbox {
  max-width: 250px;
}

.rx-portfolio-innerbox .rx-portfolio-img img {
  max-height: 150px !important;
}

.rx-practice-icon-text {
  cursor: pointer;
}

.breadcrumb_section .background_overlay {
  background-color: rgba(52, 52, 52, 0);
}

.slider_content_wrap .background_overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.rx-counter-section .background_overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.rx-sticky-menu,
.header_style_four .header_main_menu_wrap {
  background-color: rgba(0, 0, 0, 0.5);
}
.header_style_four .rx-mobile_menu_content {
  background-color: rgba(0, 0, 0, 0.95);
}

.header_style_four .rx-mobile_menu_wrap.mobile_menu_on .mobile_menu_overlay {
  visibility: hidden;
}
.header_style_four .rx-mobile_menu .rx-mobile_menu_close {
  left: auto;
  right: 15px;
  font-size: 25px;
  color: #ffffff;
}

.header_style_four .rx-mobile_menu_content {
  width: 230px;
}

.header_style_four .rx-mobile_menu_content .m-brand-logo {
  margin: 0px;
  visibility: hidden;
}

.google-map-container {
  height: 500px;
}

.rx-feature-icon-text {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #1b8381;
}

.rx-feature-icon-text .rx-feature-text h3 {
  color: #342b50;
}

.rx-feature-icon-text .rx-feature-text p {
  color: #555555;
}

@media screen and (max-width: 480px) {
  .breadcrumb_section .breadcrumb {
    /* min-width: 225px; */
    min-width: 68%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 991px) {
  div.breadcrumb_watermark {
    font-size: 150px !important;
    margin-top: 200px;
  }
}
